<!--
  <!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>EJS Örnek Proje</title>
</head>

<body>
  <p>User:<%=user%>
  </p>
  <h1>Title:<%=title%>
  </h1>
  <h2>Message:<%= message%>
  </h2>
</body>

</html>
-->